<h1><%= @content.title %></h1>
<p><%= @content.description %></p>
<p>Rating: <%= @content.content_rating %></p>
<p>Organization: <%= @content.organization.name %></p>
<%= link_to "Back", contents_path %>