<h1><%= @organization.name %></h1>
<p><%= @organization.description %></p>
<p>Members: <%= @organization.users.count %></p>

<% if current_user.organizations.include?(@organization) %>
  <p><strong>You are a member of this organization</strong></p>
  <% if current_user.has_role?(:admin, @organization) %>
    <p><em>Role: Administrator</em></p>
  <% elsif current_user.has_role?(:member, @organization) %>
    <p><em>Role: Member</em></p>
  <% end %>
  
  <%= button_to "Leave Organization", 
      organization_membership_path(@organization), 
      method: :delete, 
      data: { turbo_confirm: "Are you sure you want to leave this organization?" },
      class: "btn btn-danger" %>
<% else %>
  <%= button_to "Join Organization", 
      organization_membership_path(@organization), 
      method: :post,
      class: "btn btn-primary" %>
<% end %>

<% if policy(@organization).edit? %>
  <hr>
  <div class="admin-actions">
    <%= link_to "Edit Organization", edit_organization_path(@organization), class: "btn btn-secondary" %>
    <%= button_to "Delete Organization", 
        organization_path(@organization), 
        method: :delete, 
        data: { turbo_confirm: "Are you sure? This will delete the organization and all its content." },
        class: "btn btn-danger" %>
  </div>
<% end %>

<% if policy(@organization).show? %>
  <%= link_to "View Analytics", 
      organization_analytics_path(organization_id: @organization.id), 
      class: "btn btn-info" %>
<% end %>

<%= link_to "Back to Organizations", organizations_path, class: "btn btn-secondary" %>